* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.link {
  text-decoration: none;
  margin: 20px;
  padding: 2px;
  color: black;

  display: block;
  border: 1px solid black;
  width: fit-content;  
}

.box {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: fit-content;
}

.m-2 {
  margin: 20px;
}

.btn-container {
  padding: 10px;
}

.btn-container button {
  margin-left: 10px;
  font-size: 1.5rem;
}

.btn-container button:nth-child(1) {
  margin-left: 0;
}