.input-container {
    height: 3rem;
    display: flex;

    font-size: 2rem;
}

.input-container .query {
    width: 40%;
    height: 100%;

    font-size: inherit;
}

.input-container .category {
    flex-grow: 1;
    font-size: inherit;
}

.status span {
    display: block;
    text-align: center;

    font-size: 1.25rem;
}

.status {
    flex-grow: 1;
}

.user-selection {
    flex-grow: 0.5;
    font-size: 1.25rem;
}
