* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 0 20px;
}

.box {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: fit-content;
}

.box a {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}