.input-container {
    height: 3rem;
    display: flex;

    font-size: 2rem;
}

.input-container .query {
    flex-grow: 1;
    height: 100%;

    font-size: inherit;
}

.input-container .category {
    flex-grow: 1;
    font-size: inherit;
}

.status span {
    display: block;
    text-align: center;

    font-size: 1.25rem;
}

.status {
    flex-grow: 1;
}

.user-selection {
    flex-grow: 1;
    font-size: 1.25rem;
}

@media only screen and (max-width: 992px) {
    .input-container {
        flex-direction: column;
        height: auto;
    }
}