* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bordered {
  border: 1px solid black;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: black;
}

.button-section {
  width: 100%;
  font-size: 2rem;

  display: flex;
}

.button-section .page-number {
  flex-grow: 1;
  text-align: center;
}

.button-section button {
  font-size: inherit;
  flex-grow: 1;
}

.title-container {
  display: flex;
  width: 100%;
  font-size: 2rem;
}

.cart-title {
  width: 80%;
}

.title-container .link {
  flex-grow: 1;
}